{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Tony Sun</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>>
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100 border-info" id="profile-wrapper">
                    <img id="profile-pic" src="{% static '/images/Algonquin.jpg' %}" >
                    <hr>
                    <h4>Hello, I'm Tony!</h4>
                    <p>I love watching TED Talks, coding and playing video games.</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body h-100 border-info">
                    <h4>My Current Status</h4>
                    <hr>
                    <p>I am now a 2A Honors Mathematics student in University of Waterloo. Sadly, I have no working experience so far, but I'm looking forward to working in a company that can help me find my part of job. Since I am an enthusiastic video game player, and I love coding, I really want to have a chance to work in a video game company.</p>

                    <p>My home country is China and I first went to Canada as a high school international student. My English is good. (at least no problem with communication, and I hope my IELTS mark is not needed lol)</p>

                    <p>Right now I'm learning MySQL and HTML, this personal website is in fact the biggest project I've ever done. I did encounter many problems such as setting up virtual environment, formatting and my URLs. But I feel a sense of accomplishment when I fix all those bugs and everything starts to work just fine. And I believe that this is the reason why I love coding just like how I love playing video games. Facing the challenge and make my way through the hard times do make me happy.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Hobbies</h5>
                    <hr>
                    <p>I often watch TED Talks when I have spare time, those lectures help me keep up with the latest technologies, and I also write notes when I hear some interesting points of view or special findings. And without doubt, I love playing video games. MOBA games like LoL, FPS games like Rainbow 6, survival games like Don't Starve.... To be honest, I start to love coding because I am no longer satisfied with just playing games, I want to share my joy with others and someday bring my game to other players. It might not be a great reason, but for me, the fact that I learn how to code, going to University of Waterloo are for my dream of bringing my game to others.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Short Term Goals</h5>
                    <hr>
                    <p>Learning basic knowladges of MySQL and HTML to get ready for my first job. And my school work comes first of course.</p>
                </div>
            </div>
        </div>
        <br>
    </div>



</body>
</html>